body
{
	margin: 0; 
	padding: 0; 
	height: 100%;
	font-family: 'Varela Round', sans-serif;
	font-size: 12px;
	background-color: #fff8f8;
}

td 
{ 
} 

a:link, a:visited 
{ 
	color: #dddddd; 
}


.alpha
{
	position: absolute; width: 600px; left: 50%; margin-left: -300px; text-align: center; color: #FF0000; font-size: 18px; 
}

#toppanel
{
	position: absolute; 
	top: 0; 
	left: 0; 
	bottom: 0;
	margin: 0 auto; 
	padding: 15px; 
	width: 200px;
	opacity: 0.8; 
	text-align: left; 
	background-color: #111111; 
	color: white;
	font-size: 14px;
}

.cp
{
	background-color: #000000;
	width: 12px;
	height: 12px;
	padding: 2px;
	border-radius: 8px;
	float: left;
	margin: 0;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	color: white;
}

#creature
{
	padding: 0;
	margin-bottom: 25px;
}

#englishB
{
	float: left;
	display: none;
}

#title
{
	clear: both;
	font-size: 17px; 
}

#subtitle
{
	font-size: 11px;
	padding-bottom: 10px;
}

#optionstable
{
	font-size: 11px; 
}

#optionstable tr
{
}


#optionstable div div
{ 
	margin: 2px 0;
	padding: 2px 8px; 
	border-radius: 10px;
} 

#optionstable div input
{ 
width: 80px;
} 

@media screen
{
	#mapcontainer
	{
		position: absolute; 
		width: 100%; 
		height: 100%;
		margin-left: auto; margin-right: auto; 
	} 
}

@media print
{
	#mapcontainer
	{
		position: absolute; 
		width: 100%; 
	}
}

#themetric 
{
	width: 135px;
}

#socialtable td { width: 120px; }
	
#socialbuttons
{
	position: absolute; 
	top: 0; 
	margin: 0 auto; 
	right: 15px; 
	padding: 3px 8px 0 5px; 
	opacity: 0.9; 
	border-bottom-left-radius: 10px; 
	border-bottom-right-radius: 10px; 
	background-color: #ffffff; 
	color: black; 
	font-size: 14px;
	border-bottom: 3px solid #57b;
	border-left: 3px solid #57b;
	border-right: 3px solid #57b;

}
	
#key
{
	position: absolute;
	left: 0;
	width: 200px;
	top: 250px;
	bottom: 65px; 
	padding: 0 15px; 
	opacity: 0.8; 
	background-color: #111111; 
	color: white; 
	text-align: center; 
	font-size: 12px;
	overflow-y: auto;
}

.keyBox
{
	width: 90px;
	height: 60px;
	background-color: #d8d5ca;
	border-radius: 10px;
	opacity: 0.9;
}

h1 { font-size: 21px; }

#infotitle, #infotitle2 { font-size: 12px; }

#keyTable
{
	width: 180px;
	margin: 0 auto 0 auto;
}

#keysubtable
{
	width: 180px;
	font-size: 11px;
}

#keyTable td { padding-bottom: 5px; }

.keycaptiontable td
{
	width: 90px;
	text-align: center;
	font-size: 12px;
}	

#areainfo
{
	position: absolute; 
	width: 180px; 
	bottom: 0; 
	left: 50%; margin-left: -90px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	padding: 15px;
	background: white;
	opacity: 0.8;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	display: none;
	max-height: 150px;
	overflow-y: auto;
}

#layerbuttons
{
	margin-top: 10px; 
	font-size: 10px;
}

.keyLineItem
{
	font-size: 7px;
	margin: 0 5px 0 0; 
	height: 7px; 
	vertical-align: center;
	padding: 0;
	border-radius: 4px; 
	cursor: pointer; 
}

table 
{
	border-spacing: 1px;
}

#status
{
	text-align: center;
} 

#status span
{
	color: 'blue';
}

.keyBall
{
	float: left; margin: 1px; width: 10px; height: 10px; border-radius: 5px;
}

#keyCircles
{
	padding: 10px 0;
	margin-bottom: 10px;
	height: 30px;
}

.keyCircleContainer
{
	float: left; 
}
.keyCircleCircle
{
	margin: 1px; 
	width: 16px; 
	height: 18px;  
	padding: 6px 7px; 
	border-radius: 18px; 
	font-size: 16px; 
	text-align: center; 
	vertical-align: center;
	font-weight: bold;
}

.keyCircleData
{
	font-size: 9px;
}

.keyItemText
{
	text-align: left;
	font-size: 9px;
	padding-left: 5px;
}

#keyItemExtra
{
	text-align: left;
	padding-bottom: 10px;
	font-size: 9px;
	clear: both;
}

#additionalText
{
	text-align: left; font-size: 10px;
	clear: both;
}

#info
{
	position: absolute; 
	right: 0;
	height: 540px;
	width: 250px;
	top: 50%;
	margin-top: -250px;	
	padding: 20px; 
	display: none; 
	opacity: 0.8; 
	border-bottom-left-radius: 5px; 
	background-color: #111111; 
	color: white; 
	font-size: 14px;
}

#closebuttonpanel
{
	margin: -20px 0 0 -50px;
	padding: 10px 0 10px 10px;
	background-color: #111111; 	
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	float: left;
}
#closebuttonpanel button span
{
	text-align: center;
	vertical-align: center;	
	padding: 0 5px;
}

#infotable1title, #infotable2title
{
	clear: both;
	margin-top: 20px;
	margin-bottom: 5px;
}

#subinfo
{
	clear: both;
	font-size: 11px;
	margin-bottom: 10px;
}

#alphatop
{
	top: 10px; 
}

#alphabottom
{
	bottom: 10px; 
}

#poster
{
	/* display: none; */
}

#debugbutton
{
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 7px;
	padding: 0;
	margin: 0;
}

#debugbutton span
{
	padding: 2px;
}

#closures
{
	display: none;
}

#counts
{
	margin-bottom: 10px;
}

#counts th
{
	font-size: 9px;
}

#counts td
{
	font-size: 24px;
}

#loadingDisruption
{
	margin: 10px auto;
	text-align: center;
	padding: 10px;
	border: 1px solid red;
	border-radius: 20px;
	display: none;
}

#attribution
{
	font-size: 9px; 
	margin-top:10px; 
	position: absolute; 
	bottom: 15px; 
	left: 15px; 
	width: 200px;	
}

#about
{
	text-align: center; 
	padding-bottom: 5px; 
	font-size: 9px; 
	color: #444;
}

#about a
{
	color: #777;
}

.ol-zoom
{
	bottom: auto !IMPORTANT;
	right: auto !IMPORTANT;
	top: 10px;
	left: 240px;
	position: absolute;

}

.ol-attribution
{
	position: absolute;
	right: auto !IMPORTANT;
	top: auto !IMPORTANT;
	bottom: 10px;
	left: 240px;
	text-align: left;
}

.ol-attribution a
{
	color: #00a;
}

.ol-attribution button
{
	float: left;
}

.ol-zoomslider
{
	bottom: auto !IMPORTANT;
	left: auto !IMPORTANT;
	top: 60px;
	right: 8px;
	position: absolute;
}

.ol-scale-line
{
	bottom: auto !IMPORTANT;
	right: auto !IMPORTANT;
	top: 10px;
	left: 275px;
	position: absolute;
	padding: 6px;
	border-radius: 4px;
}

@media (max-width: 720px)
{
	#toppanel
	{
		padding: 10px;
	}
	#key
	{
		padding: 0 10px;
	}
	#areainfo
	{
		left: 300px;
		margin-left: 0;
	}
	#socialbuttons
	{
		right: 10px;
	}
	.ol-attribution
	{
		left: 230px;
	}

}
