body
{
	margin: 0; 
	padding: 0; 
	height: 100%;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 12px;
	background-color: #ffffff;
}

td 
{ 
	padding-left: 3px; 
	padding-right: 3px;
} 

a:link, a:visited 
{ 
	color: #dddddd; 
}

#toppanel
{
	position: absolute; 
	top: 0; 
	left: 0; 
	margin: 0 auto; 
	padding: 10px 20px 15px 20px; 
	opacity: 0.8; 
	border-bottom-right-radius: 20px; 
	text-align: left; 
	background-color: #111111; 
	color: white;
	font-size: 14px;
	border-right: 3px solid #57b;
	border-bottom: 3px solid #57b;
}

#counts
{
	margin: 5px 0;
}

#counts th, #counts td
{
	width: 70px;
	text-align: center;
}

#counts td
{
	font-size: 24px;
}

#title
{
	font-size: 24px; 
	padding-bottom: 10px;
}

#key
{
	position: absolute; 
	right: 0; 
	bottom: 15px; 
	padding: 10px 2px; 
	opacity: 0.8; 
	border-top-left-radius: 20px; 
	border-bottom-left-radius: 20px; 
	background-color: #111111; 
	color: white; 
	text-align: center; 
	font-size: 12px;
	border-left: 3px solid #57b;
	border-top: 3px solid #57b;
	border-bottom: 3px solid #57b;
}

#keytitle
{
	position: absolute;
	left: 0;
	top: 10px;
	font-size: 18px; 
	font-weight: bold; 
	color: black;
	transform: rotate(270deg);
	transform-origin: bottom left 0;
	cursor: pointer;
}

#linekey
{
	padding: 0 15px 5px 15px;
}

.keyLineItem
{
	float: left; 
	margin: 4px 5px; 
	width: 18px; 
	height: 4px; 
	border-radius: 2px; 
	cursor: pointer; 
}

.keyItemText
{
	float: left; font-size: 9px;
}


#info
{
	position: absolute; 
	bottom: 10px; 
	margin: 0 auto; 
	left: 10px; 
	padding: 0 20px 20px 20px; 
	display: none; 
	opacity: 0.8; 
	border-radius: 20px; 
	background-color: #111111; 
	color: white; 
	font-size: 14px;
	border: 3px solid #57b;
}

#loadingDisruption
{
	width: 200px;
	margin: 10px auto 0 auto;
	text-align: center;
	padding: 10px;
	border: 1px solid red;
	border-radius: 20px;
	display: none;
}

@media screen
{
	#mapcontainer
	{
		position: absolute; 
		width: 100%; 
		height: 100%;
		margin-left: auto; margin-right: auto; 
	} 
}

@media print
{
	#mapcontainer
	{
		position: absolute; 
		width: 100%; 
	}
}

@media (max-width: 720px)
{
	#keytitle, .ol-zoomslider
	{
		display: none;
	}
}

.ol-zoom
{
	bottom: auto !IMPORTANT;
	left: auto !IMPORTANT;
	top: 10px;
	right: 10px;
	position: absolute;

}

.ol-attribution
{
	position: absolute;
	right: auto !IMPORTANT;
	top: auto !IMPORTANT;
	bottom: 35px;
	left: 8px;
	text-align: left;
}

.ol-attribution button
{
	float: left;
}
